<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PrimerParcial"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades con parentActivityName que apunta a MainActivity -->
        <activity
            android:name=".presentacion.cliente.PCliente"
            android:label="Primer Parcial - Clientes"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.posicion.PPosicion"
            android:label="Primer Parcial - Ubicaciones"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.categoria.PCategoria"
            android:label="Primer Parcial - Categorías"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.producto.PProducto"
            android:label="Primer Parcial - Productos"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.repartidor.PRepartidor"
            android:label="Primer Parcial - Repartidores"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.orden.POrden"
            android:label="Primer Parcial - Ordenes"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.orden.PDetalleOrden"
            android:label="Detalles de la Orden"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.catalogo.PCatalogo"
            android:label="Primer Parcial - Catalogos"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.catalogo.PCatalogoProducto"
            android:label="Productos del Catálogo"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".presentacion.reporte.PReporte"
            android:label="Reportes de Ventas"
            android:parentActivityName=".MainActivity" />
    </application>


</manifest>